/target/
/../cdbProject/.classpath
/../cdbProject/.project
/../cdbProject/.settings/
/../cdbProject/home/
.classpath
.project
.settings/
binding/.classpath
binding/.project
binding/.settings/
console/.classpath
console/.project
console/.settings/
core/.classpath
core/.project
core/.settings/
persistence/.classpath
persistence/.project
persistence/.settings/
service/.classpath
service/.project
service/.settings/
service/src/test/
webapp/.classpath
webapp/.project
webapp/.settings/

